<a href="https://colab.research.google.com/github/adigenova/uohdb/blob/main/code/Basic_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple SQL example

## sqlite3
Installing the required library for sqlite3

In [ ]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 5.3 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1794 sha256=d79c3d500569e03b4dcb6e1092ffe9d1f4d9223555fa85bac17fb345cac300a9
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=ad00bbadd9ce251e579eed378f92b4d93970c97e7dcb7bb45be732a07fb73837
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31679 sha256=309e0d02dd2b62f64b5dda34bd8847bb6b3b6f8c7640901736bccae0e89e4ae5
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

# my first database

In [ ]:
# CREATING THE DB and TABLE
import sqlite3
#opening a conection with the database
db = sqlite3.connect('uoh-test.db')

print("Opened database successfully");
#we prepare the SQL query
db.execute('''
CREATE TABLE IF NOT EXISTS alumno(name text, 
                      age number, 
                      phone integer, 
                      rut integer,
                      email text);''')
#we perform the SQL query
db.commit()
#we print that the databse have been created successfully
print("Database and Table created successfully");
#we close the database connection
db.close()

Opened database successfully
Database and Table created successfully

# Adding data to the database

In [ ]:
# we open a connection to our database
db = sqlite3.connect('uoh-test.db')
#we insert some data into the database
# WE PREPARE INSERTING VALUES
db.execute("INSERT INTO alumno VALUES('Roberto', 22, 977744557, 20456780,'roberto@gmail.com');")
db.execute("INSERT INTO alumno VALUES('Pascale', 21, 677744557, 20476780,'pascale@gmail.com');")
db.execute("INSERT INTO alumno VALUES('Dominga', 25, 677744557, 20486780,'dominga@gmail.com');")
db.execute("INSERT INTO alumno VALUES('Ricardo', 19, 877744557, 20456980,'ricardo@gmail.com');")
# we commit the data to the db
db.commit()

# Run simple SQL queries

## fecth the email of all students

In [ ]:
#fetch the email of each student
cursor = db.execute('''SELECT email FROM alumno''')
#we print the results of the query
for row in cursor:
  print(row)

#we close the connection to the database
db.close()

('roberto@gmail.com',)
('pascale@gmail.com',)
('dominga@gmail.com',)
('ricardo@gmail.com',)

## fecth the email and age of all students

In [ ]:
db=sqlite3.connect('uoh-test.db')
#fetch the email of each student
cursor = db.execute('''SELECT email,age FROM alumno''')
#we print the results of the query
for row in cursor:
  print(row)

('roberto@gmail.com', 22)
('pascale@gmail.com', 21)
('dominga@gmail.com', 25)
('ricardo@gmail.com', 19)

## fecth all imformation available for students

In [ ]:
db=sqlite3.connect('uoh-test.db')
#fetch the email of each student
cursor = db.execute('''SELECT * FROM alumno''')
#we print the results of the query
for row in cursor:
  print(row)

('Roberto', 22, 977744557, 20456780, 'roberto@gmail.com')
('Pascale', 21, 677744557, 20476780, 'pascale@gmail.com')
('Dominga', 25, 677744557, 20486780, 'dominga@gmail.com')
('Ricardo', 19, 877744557, 20456980, 'ricardo@gmail.com')

## fetch the name of all students older than 22

In [ ]:
cursor = db.execute('''SELECT name FROM alumno WHERE age > 20''')
#we print the results of the query
for row in cursor:
  print(row)

('Roberto',)
('Pascale',)
('Dominga',)

## order all students by age

In [ ]:
cursor = db.execute('''SELECT * FROM alumno ORDER BY age''')
#we print the results of the query
for row in cursor:
  print(row)

('Ricardo', 19, 877744557, 20456980, 'ricardo@gmail.com')
('Pascale', 21, 677744557, 20476780, 'pascale@gmail.com')
('Roberto', 22, 977744557, 20456780, 'roberto@gmail.com')
('Dominga', 25, 677744557, 20486780, 'dominga@gmail.com')