<a href="https://colab.research.google.com/github/adigenova/uohdb/blob/main/code/ONG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ONG relacional a SQL

In [1]:
# cargamos sqlite3
# https://www.sqlite.org/docs.html
%reload_ext sql
#nos conectamos o creamos una base de datos
%sql sqlite:///ONG.db

'Connected: @ONG.db'

In [2]:
#activamos claves foráneas
#activate foreing key support on SQL lite
%%sql
PRAGMA foreign_keys;
PRAGMA foreign_keys = ON;
PRAGMA foreign_keys;

 * sqlite:///ONG.db
Done.
Done.
Done.

[(1,)]

## Creamos base de datos ONG

In [3]:
%%sql
drop table if exists PROYECTO;
drop table if exists ONG;
/*drop table if exists MIEMBRO;
drop table if exists TRABAJADOR;
drop table if exists VOLUNTARIO;
drop table if exists CONTRATADO;
drop table if exists FORMADA;*/

-- creamos las relaciones --

-- Relación ONG --
CREATE TABLE ONG (
ido INTEGER PRIMARY KEY,
denominacion INTEGER NOT NULL,
direccion TEXT NOT NULL,
provincia TEXT NOT NULL,
region TEXT NOT NULL,
tipo TEXT NOT NULL,
u_publica INTEGER
);

-- Relación PROYECTO --
CREATE TABLE PROYECTO (
idp INTEGER PRIMARY KEY,
region TEXT NOT NULL,
provincia TEXT NOT NULL,
objetivo TEXT NOT NULL,
numero_beneficiados INTEGER NOT NULL,
ido INTEGER NOT NULL,
A_padre INTEGER,
FOREIGN KEY(A_padre) REFERENCES PROYECTO(idp) ON DELETE CASCADE,
FOREIGN KEY(ido) REFERENCES ONG(ido) ON DELETE CASCADE
);

 * sqlite:///ONG.db
Done.
Done.
Done.
Done.

[]

## Revisamos las tablas e insertamos datos en la DB

In [4]:
#mostramos las tablas de pyme
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

 * sqlite:///ONG.db
Done.

[('ONG',), ('PROYECTO',)]

In [6]:
%%sql 
PRAGMA table_info([PROYECTO]);

 * sqlite:///ONG.db
Done.

[(0, 'idp', 'INTEGER', 0, None, 1),
 (1, 'region', 'TEXT', 1, None, 0),
 (2, 'provincia', 'TEXT', 1, None, 0),
 (3, 'objetivo', 'TEXT', 1, None, 0),
 (4, 'numero_beneficiados', 'INTEGER', 1, None, 0),
 (5, 'ido', 'INTEGER', 1, None, 0),
 (6, 'A_padre', 'INTEGER', 0, None, 0)]

### insertamos valores

In [7]:
%%sql
-- valores en ONG --
INSERT INTO ONG(ido,denominacion,direccion,provincia,region,tipo,u_publica) VALUES
(1,"TODES","Blanco Encalada 2120","Santiago","RM","social",0),
(2,"TREES","Almirante 2323","Rancagua","VI","ecologista",0),
(3,"COMPU","Blanco 2120","Santiago","RM","tecnologica",1);

INSERT INTO PROYECTO(idp,region,provincia,objetivo,numero_beneficiados,ido,A_padre) VALUES
(1,"RM","Santiago","Igualdad de Genero",500,1,NULL),
(2,"RM","Santiago","Igualdad de Genero en STEM",100,1,1);

 * sqlite:///ONG.db
Done.
2 rows affected.

[]

In [11]:
%%sql
select * from ONG;

 * sqlite:///ONG.db
Done.

[(2, 'TREES', 'Almirante 2323', 'Rancagua', 'VI', 'ecologista', 0),
 (3, 'COMPU', 'Blanco 2120', 'Santiago', 'RM', 'tecnologica', 1)]

In [12]:
%%sql
select * from PROYECTO;

 * sqlite:///ONG.db
Done.

[]

In [10]:
%%sql
delete from ONG where ido == 1;

 * sqlite:///ONG.db
1 rows affected.

[]