<a href="https://colab.research.google.com/github/adigenova/uohdb/blob/main/code/PYME_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYME relacional a SQL

In [36]:
# cargamos sqlite3
# https://www.sqlite.org/docs.html
%load_ext sql
#nos conectamos o creamos una base de datos
%sql sqlite:///pyme2.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @pyme2.db'

## Tabla Cliente
Ejemplos de restricciones en tablas.

In [39]:
%%sql 
CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL,
credito INTEGER,
direccion TEXT NOT NULL
);

   sqlite:///pyme.db
 * sqlite:///pyme2.db
(sqlite3.OperationalError) table Cliente already exists
[SQL: CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL,
credito INTEGER,
direccion TEXT NOT NULL
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [40]:
#mostramos las tablas de pyme
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[('Cliente',)]

In [41]:
%%sql 
PRAGMA table_info([Cliente]);

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[(0, 'id_cliente', 'INTEGER', 0, None, 1),
 (1, 'saldo', 'INTEGER', 1, None, 0),
 (2, 'descuento', 'INTEGER', 1, None, 0),
 (3, 'credito', 'INTEGER', 0, None, 0),
 (4, 'direccion', 'TEXT', 1, None, 0)]

In [42]:
#insertamos valores en la db
%%sql 
INSERT INTO Cliente VALUES(1,100,5,0,"Eusebio Lillo 1540");

   sqlite:///pyme.db
 * sqlite:///pyme2.db
1 rows affected.

[]

In [47]:
#listamos los valores de la base de datos
%%sql
select * from Cliente;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[(1, 100, 5, 0, 'Eusebio Lillo 1540'),
 (3, 10000, 1, None, 'Eusebio Lillo 1540')]

In [44]:
#insertamos un nuevo valor
%%sql 
INSERT INTO Cliente VALUES (3,NULL,5,0,"Eusebio Lillo 1540");

   sqlite:///pyme.db
 * sqlite:///pyme2.db

IntegrityError: ignored

In [46]:
%%sql
INSERT INTO Cliente VALUES (3,10000,1,NULL,"Eusebio Lillo 1540");

   sqlite:///pyme.db
 * sqlite:///pyme2.db

IntegrityError: ignored

In [48]:
#unique example
%%sql
drop table if exists Cliente;
CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL,
credito INTEGER,
direccion TEXT NOT NULL UNIQUE
);
PRAGMA table_info([Cliente]);
INSERT INTO Cliente VALUES (3,10000,3,NULL,"Eusebio Lillo 1540");

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
Done.
Done.
1 rows affected.

[]

In [49]:
%%sql
INSERT INTO Cliente VALUES (1,10000,3,10,"Eusebio Lillo 1540");

   sqlite:///pyme.db
 * sqlite:///pyme2.db

IntegrityError: ignored

In [51]:
%%sql
INSERT INTO Cliente VALUES (1,10000,3,10,"Eusebio Lillo 1541");

   sqlite:///pyme.db
 * sqlite:///pyme2.db
1 rows affected.

[]

In [52]:
%%sql
select * from Cliente;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[(1, 10000, 3, 10, 'Eusebio Lillo 1541'),
 (3, 10000, 3, None, 'Eusebio Lillo 1540')]

In [53]:
#check example
%%sql
drop table if exists Cliente;
CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL CHECK(descuento >=0 AND descuento <= 100),
credito INTEGER,
direccion TEXT NOT NULL
);
PRAGMA table_info([Cliente]);
INSERT INTO Cliente VALUES (3,10000,3,NULL,"Eusebio Lillo 1540");

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
Done.
Done.
1 rows affected.

[]

In [56]:
%%sql
INSERT INTO Cliente VALUES (5,10000,120,NULL,"Eusebio Lillo 1540");
select * from Cliente;

   sqlite:///pyme.db
 * sqlite:///pyme2.db

IntegrityError: ignored

In [66]:
#check example II
%%sql
drop table if exists Cliente;
CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL CHECK(descuento >=0 AND descuento <= 100),
credito INTEGER,
direccion TEXT NOT NULL CHECK(length(direccion) > 5)
);
PRAGMA table_info([Cliente]);
INSERT INTO Cliente VALUES (3,10000,3,NULL,"Eusebio lillo 1570");

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
Done.
Done.
1 rows affected.

[]

In [69]:
%%sql
-- INSERT INTO Cliente VALUES (3,10000,3,NULL,"santa elena 2020. rancagua"); --
-- select * from Cliente; --
INSERT INTO Cliente VALUES (7,"10000vb -> no funciona",3,NULL,"Santo domingo 2021, Rancagua");

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[]

In [70]:
%%sql
select * from Cliente;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[(3, 10000, 3, None, 'Eusebio lillo 1570'),
 (4, '10000vb', 3, None, 'Santo domingo 2021, Rancagua'),
 (7, '10000vb -> no funciona', 3, None, 'Santo domingo 2021, Rancagua')]

## Claves forneas
Ejemplo de restricciones de claves forneas

In [71]:
%%sql
drop table if exists Pedido;
drop table if exists Cliente;
CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL,
credito INTEGER,
direccion TEXT NOT NULL
);
CREATE TABLE Pedido (
  id_pedido INTEGER PRIMARY KEY,
  direccion TEXT NOT NULL,
  fecha TEXT NOT NULL,
  id_cliente INTEGER,
  FOREIGN KEY(id_cliente) REFERENCES Cliente(id_cliente) ON DELETE CASCADE
);
PRAGMA table_info([Cliente]);
PRAGMA table_info([Pedido]);

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
Done.
Done.
Done.
Done.
Done.

[(0, 'id_pedido', 'INTEGER', 0, None, 1),
 (1, 'direccion', 'TEXT', 1, None, 0),
 (2, 'fecha', 'TEXT', 1, None, 0),
 (3, 'id_cliente', 'INTEGER', 0, None, 0)]

In [72]:
%%sql
INSERT INTO Cliente VALUES (3,10000,3,NULL,"Eusebio Lillo 1540");
INSERT INTO Cliente VALUES (1,10000,3,NULL,"Eusebio Lillo 2020");
INSERT INTO Pedido VALUES (1,"Blanco Encalada 1540","28/04/2022",5);

   sqlite:///pyme.db
 * sqlite:///pyme2.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
INSERT INTO Pedido VALUES (2,"Blanco Encalada 1540","28/04/2022",1);

 * sqlite:///pyme.db
1 rows affected.

[]

In [ ]:
%%sql
delete from Cliente where id_cliente == 3;

 * sqlite:///pyme.db
1 rows affected.

[]

In [ ]:
%%sql
select * from Cliente;
select * from Pedido;

 * sqlite:///pyme.db
Done.
Done.

[(2, 'Blanco Encalada 1540', '28/04/2022', 1)]

In [85]:
#set default example
%%sql
drop table if exists Pedido;
drop table if exists Cliente;
CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL,
credito INTEGER,
direccion TEXT NOT NULL
);
CREATE TABLE Pedido (
  id_pedido INTEGER PRIMARY KEY,
  direccion TEXT NOT NULL,
  fecha TEXT NOT NULL,
  id_cliente INTEGER DEFAULT -1,
  FOREIGN KEY(id_cliente) REFERENCES Cliente(id_cliente) ON DELETE SET DEFAULT
);

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
Done.
Done.
Done.

[]

In [86]:
%%sql
INSERT INTO Cliente VALUES (3,10000,3,NULL,"Eusebio Lillo 1540");
INSERT INTO Cliente VALUES (1,10000,3,NULL,"Eusebio Lillo 2020");
INSERT INTO Pedido VALUES (1,"Blanco Encalada 1540","28/04/2022",3);
INSERT INTO Pedido VALUES (2,"Blanco Encalada 1540","28/04/2022",1);

   sqlite:///pyme.db
 * sqlite:///pyme2.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [87]:
%%sql
delete from Cliente where id_cliente == 3;

   sqlite:///pyme.db
 * sqlite:///pyme2.db

IntegrityError: ignored

In [88]:
%%sql
select * from Pedido;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[(1, 'Blanco Encalada 1540', '28/04/2022', 3),
 (2, 'Blanco Encalada 1540', '28/04/2022', 1)]

In [89]:
%%sql
INSERT INTO Cliente VALUES (-1,0,0,NULL,"Cliente desconocido");

   sqlite:///pyme.db
 * sqlite:///pyme2.db
1 rows affected.

[]

In [90]:
%%sql
delete from Cliente where id_cliente == 1;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
1 rows affected.

[]

In [91]:
%%sql
select * from Cliente;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[(-1, 0, 0, None, 'Cliente desconocido'),
 (3, 10000, 3, None, 'Eusebio Lillo 1540')]

In [92]:
%%sql 
select * from Pedido;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.

[(1, 'Blanco Encalada 1540', '28/04/2022', 3),
 (2, 'Blanco Encalada 1540', '28/04/2022', -1)]

In [76]:
#activate foreing key support on SQL lite
%%sql
PRAGMA foreign_keys;
PRAGMA foreign_keys = ON;
PRAGMA foreign_keys;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
Done.
Done.

[(1,)]

In [93]:
%%sql
delete from Cliente where id_cliente == 3;
select * from Pedido;

   sqlite:///pyme.db
 * sqlite:///pyme2.db
1 rows affected.
Done.

[(1, 'Blanco Encalada 1540', '28/04/2022', -1),
 (2, 'Blanco Encalada 1540', '28/04/2022', -1)]

## PYME SQL completo
Instrucciones SQL para construir el modelo PYME completo

### Definicin de tablas

In [94]:
#SQL para todas las tablas
%%sql
/* borrramos las relaciones
en el caso que existan previamente */
drop table if exists Detalla;
drop table if exists Manufacturados;
drop table if exists Articulo;
drop table if exists Fabrica;
drop table if exists Pedido;
drop table if exists Cliente;

-- creamos las relaciones --

-- Relacin cliente --
CREATE TABLE Cliente (
id_cliente INTEGER PRIMARY KEY,
saldo INTEGER NOT NULL,
descuento INTEGER NOT NULL,
credito INTEGER,
direccion TEXT NOT NULL
);

-- Relacin fabrica --
CREATE TABLE fabrica (
id_fabrica INTEGER PRIMARY KEY,
stock INTEGER NOT NULL,
telefono INTEGER NOT NULL
);

-- Relacin Pedido --
CREATE TABLE Pedido (
  id_pedido INTEGER PRIMARY KEY,
  direccion TEXT NOT NULL,
  fecha TEXT NOT NULL,
  id_cliente INTEGER,
  FOREIGN KEY(id_cliente) REFERENCES Cliente(id_cliente) ON DELETE CASCADE
);

-- Relacin Articulo --
CREATE TABLE Articulo (
  id_articulo INTEGER PRIMARY KEY,
  descripcion TEXT NOT NULL
);

-- Relacin Manufacturados --
CREATE TABLE Manufacturados (
  id_articulo INTEGER,
  id_fabrica  INTEGER,
  FOREIGN KEY(id_articulo) REFERENCES Articulo(id_articulo) ON DELETE CASCADE,
  FOREIGN KEY(id_fabrica) REFERENCES Fabrica(id_fabrica) ON DELETE CASCADE,
  PRIMARY KEY (id_articulo,id_fabrica)
);

 -- Relacin Detalla --
CREATE TABLE Detalla (
  id_articulo INTEGER NOT NULL,
  id_pedido INTEGER NOT NULL,
  cantidad INTEGER NOT NULL,
  FOREIGN KEY(id_articulo) REFERENCES Articulo(id_articulo) ON DELETE CASCADE,
  FOREIGN KEY(id_pedido) REFERENCES Pedido(id_pedido) ON DELETE CASCADE,
  PRIMARY KEY (id_articulo, id_pedido)
);

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Insertando valores

In [95]:
%%sql
-- valores en cliente --
INSERT INTO Cliente VALUES(1,100,5,1000,"Eusebio Lillo 1540, Rancagua");
INSERT INTO Cliente VALUES(2,150,1,0,"Blanco Encalada 1540, Santiago");
INSERT INTO Cliente VALUES(3,200,5,500,"Santa ema 1544, Peor es Nada");
INSERT INTO Cliente VALUES(4,250,10,0,"Blanco 666, Santiago");
INSERT INTO Cliente VALUES(5,100,5,0,"Coln 343, Santiago");
INSERT INTO Cliente VALUES(6,300,15,0,"Republica 1454, La Serena");
INSERT INTO Cliente VALUES(7,400,5,2000,"Santo Domingo 1313, Rancagua");

-- valores en fabrica --
INSERT INTO Fabrica(id_fabrica,stock,telefono) VALUES
(1,400,77662323),
(2,10,45456263),
(3,20,30495590),
(4,300,90997676);

-- so on --

   sqlite:///pyme.db
 * sqlite:///pyme2.db
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
0 rows affected.

[]

In [ ]:
%%sql
select * from Fabrica;

 * sqlite:///pyme.db
Done.

[(1, 400, 77662323), (2, 10, 45456263), (3, 20, 30495590), (4, 300, 90997676)]