<a href="https://colab.research.google.com/github/adigenova/uohdb/blob/main/code/SQL_III_chinook_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with the Chinook database

## downloading the database from github

In [2]:
#download the Chinook database
!git clone https://github.com/lerocha/chinook-database.git

Cloning into 'chinook-database'...
remote: Enumerating objects: 1960, done.
remote: Counting objects: 100% (75/75), done.
remote: Compressing objects: 100% (54/54), done.
remote: Total 1960 (delta 33), reused 50 (delta 21), pack-reused 1885
Receiving objects: 100% (1960/1960), 19.57 MiB | 17.08 MiB/s, done.
Resolving deltas: 100% (1277/1277), done.

In [3]:
# load the SQL magic extension
# https://github.com/catherinedevlin/ipython-sql
# this extension allows us to connect to DBs and issue SQL command
%load_ext sql
# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
# use %%sql to write SQL commands in a cell
%sql sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite

'Connected: @/content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'


### Display tables of the Chinook database

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

getting information about a particular table

In [ ]:
%%sql 
PRAGMA table_info([Artist]);

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(0, 'ArtistId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

getting the SQL code that generate a table


## Create automatic documentation with [schemaspy](https://schemaspy.org/)

<img src="https://schemaspy.org/sample/diagrams/summary/relationships.real.large.png" alt="ER Diagram" width="836" height="605" />


In the above ER diagram, the tiny vertical key icon indicates a column is a primary key. A primary key is a column (or set of columns) whose values uniquely identify every row in a table. For example, `Employeeud` is the primary key in the `Employee` table.

The relationship icon indicates a foreign key constraint and a one-to-many relationship.

# SQL con Chinook

## Manipulando Strings

In [85]:
%%sql
select distinct(composer) from track where composer like "%Brian";

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('May, Brian',), ('Deacon, John/May, Brian',)]

In [86]:
%%sql
select distinct(composer) from track where composer like "Brian%";

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Brian Holland/Freddie Gorman/Georgia Dobbins/Robert Bateman/William Garrett',),
 ('Brian May',),
 ('Brian Holland/Eddie Holland/Lamont Dozier',),
 ('Brian Eno, Bono, Adam Clayton, The Edge & Larry Mullen Jnr.',),
 ('Brian Eno/U2',)]

In [84]:
%%sql
select distinct(composer) from track where composer like "%Brian%";

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Angus Young, Malcolm Young, Brian Johnson',),
 ('Brian Holland/Freddie Gorman/Georgia Dobbins/Robert Bateman/William Garrett',),
 ('Brian May',),
 ('Brian Holland/Eddie Holland/Lamont Dozier',),
 ('Brian Eno, Bono, Adam Clayton, The Edge & Larry Mullen Jnr.',),
 ('May, Brian',),
 ('Deacon, John/May, Brian',),
 ('Brian Eno/U2',)]

In [87]:
%%sql
select distinct(composer) from track where composer like "%Br_an%";

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Angus Young, Malcolm Young, Brian Johnson',),
 ('Brian Holland/Freddie Gorman/Georgia Dobbins/Robert Bateman/William Garrett',),
 ('Brian May',),
 ('Brian Holland/Eddie Holland/Lamont Dozier',),
 ('Bryan Adams/Nikki Sixx/Scott Humphrey',),
 ('Brian Eno, Bono, Adam Clayton, The Edge & Larry Mullen Jnr.',),
 ('May, Brian',),
 ('Deacon, John/May, Brian',),
 ('Brian Eno/U2',)]

In [99]:
%%sql
select length(distinct(composer)) from track where composer like "%Br_an%" limit 2;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(41,), (41,)]

In [100]:
%%sql
select upper(distinct(composer)) from track where composer like "%Br_an%" limit 2;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('ANGUS YOUNG, MALCOLM YOUNG, BRIAN JOHNSON',),
 ('ANGUS YOUNG, MALCOLM YOUNG, BRIAN JOHNSON',)]

In [101]:
%%sql
select substr(distinct(composer),1,6) from track where composer like "%Br_an%" limit 2;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Angus ',), ('Angus ',)]

In [107]:
%%sql
select replace(distinct(composer),"Angus","Alex") from track where composer like "%Br_an%" limit 2;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Alex Young, Malcolm Young, Brian Johnson',),
 ('Alex Young, Malcolm Young, Brian Johnson',)]

In [105]:
%%sql
select composer || Name as merge_composer_name from track where composer like "%Br_an%" limit 2;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Angus Young, Malcolm Young, Brian JohnsonFor Those About To Rock (We Salute You)',),
 ('Angus Young, Malcolm Young, Brian JohnsonPut The Finger On You',)]

## Controlando los resultados

Order by and limit

In [113]:
%%sql
select Name,Milliseconds from track
order by Milliseconds ASC limit 3;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('É Uma Partida De Futebol', 1071),
 ('Now Sports', 4884),
 ('A Statistic', 6373)]

In [114]:
%%sql
select Name,Milliseconds from track
order by Milliseconds DESC limit 3;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Occupation / Precipice', 5286953),
 ('Through a Looking Glass', 5088838),
 ('Greetings from Earth, Pt. 1', 2960293)]

In [120]:
%%sql
select * from track
order by MediaTypeId DESC, GenreId ASC, AlbumId DESC limit 10;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(3355, 'Love Comes', 265, 5, 1, 'Darius "Take One" Minwalla/Jon Auer/Ken Stringfellow/Matt Harris', 199923, 3240609, 0.99),
 (3353, "I Guess You're Right", 265, 5, 1, 'Darius "Take One" Minwalla/Jon Auer/Ken Stringfellow/Matt Harris', 212044, 3453849, 0.99),
 (3357, "OAM's Blues", 267, 5, 2, 'Aaron Goldberg', 266936, 4292028, 0.99),
 (3350, 'Despertar', 262, 5, 2, 'Andrea Dulbecco', 307385, 4821485, 0.99),
 (3349, 'Amanda', 262, 5, 2, 'Luca Gusella', 246503, 4011615, 0.99),
 (3356, 'Muita Bobeira', 266, 5, 7, 'Luciana Souza', 172710, 2775071, 0.99),
 (3358, 'One Step Beyond', 264, 5, 15, 'Karsh Kale', 366085, 6034098, 0.99),
 (3352, 'Distance', 264, 5, 15, 'Karsh Kale/Vishal Vaid', 327122, 5327463, 0.99),
 (3354, 'I Ka Barra (Your Work)', 263, 5, 16, 'Habib Koité', 300605, 4855457, 0.99),
 (3351, 'Din Din Wo (Little Child)', 263, 5, 16, 'Habib Koité', 285837, 4615841, 0.99)]

In [125]:
%%sql 
select * from track limit 5 offset 10

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(11, 'C.O.D.', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 199836, 6566314, 0.99),
 (12, 'Breaking The Rules', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263288, 8596840, 0.99),
 (13, 'Night Of The Long Knives', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205688, 6706347, 0.99),
 (14, 'Spellbound', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 270863, 8817038, 0.99),
 (15, 'Go Down', 4, 1, 1, 'AC/DC', 331180, 10847611, 0.99)]

## Manipulando fechas y horas

In [150]:
%%sql
PRAGMA table_info([invoice]);

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(0, 'InvoiceId', 'INTEGER', 1, None, 1),
 (1, 'CustomerId', 'INTEGER', 1, None, 0),
 (2, 'InvoiceDate', 'DATETIME', 1, None, 0),
 (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0),
 (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0),
 (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0),
 (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0),
 (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0),
 (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]

In [151]:
%%sql
select  InvoiceDate,strftime('%Y',InvoiceDate) as "Año",
strftime('%m',InvoiceDate) as "Mes",
strftime('%d',InvoiceDate) as "Dia",
strftime('%H',InvoiceDate) as "Horas",
strftime('%M',InvoiceDate) as "Minutos"
 from invoice limit 5;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('2009-01-01 00:00:00', '2009', '01', '01', '00', '00'),
 ('2009-01-02 00:00:00', '2009', '01', '02', '00', '00'),
 ('2009-01-03 00:00:00', '2009', '01', '03', '00', '00'),
 ('2009-01-06 00:00:00', '2009', '01', '06', '00', '00'),
 ('2009-01-11 00:00:00', '2009', '01', '11', '00', '00')]

In [152]:
%%sql
select  InvoiceDate,strftime('%Y',InvoiceDate) as "Año",
strftime('%m',InvoiceDate) as "Mes",
strftime('%d',InvoiceDate) as Dia
 from invoice where Dia in ("01","02","11") limit 5;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('2009-01-01 00:00:00', '2009', '01', '01'),
 ('2009-01-02 00:00:00', '2009', '01', '02'),
 ('2009-01-11 00:00:00', '2009', '01', '11'),
 ('2009-02-01 00:00:00', '2009', '02', '01'),
 ('2009-02-01 00:00:00', '2009', '02', '01')]

## Almacenado consultas en tablas

In [11]:
%%sql
select strftime('%Y',InvoiceDate) as "Año",
strftime('%m',InvoiceDate) as "Mes",
strftime('%d',InvoiceDate) as "Dia"
 from invoice limit 5;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('2009', '01', '01'),
 ('2009', '01', '02'),
 ('2009', '01', '03'),
 ('2009', '01', '06'),
 ('2009', '01', '11')]

In [9]:
%%sql
create table Fecha as
select strftime('%Y',InvoiceDate) as "Año",
strftime('%m',InvoiceDate) as "Mes",
strftime('%d',InvoiceDate) as "Dia"
 from invoice limit 10;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[]

In [10]:
%%sql
select * from Fecha limit 10;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('2009', '01', '01'),
 ('2009', '01', '02'),
 ('2009', '01', '03'),
 ('2009', '01', '06'),
 ('2009', '01', '11'),
 ('2009', '01', '19'),
 ('2009', '02', '01'),
 ('2009', '02', '01'),
 ('2009', '02', '02'),
 ('2009', '02', '03')]

In [12]:
%%sql 
PRAGMA table_info([Fecha]);

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(0, 'Año', '', 0, None, 0),
 (1, 'Mes', '', 0, None, 0),
 (2, 'Dia', '', 0, None, 0)]

## subconsultas

In [16]:
#Obtener los nombres de todas las canciones del álbum "Californication".
%%sql
select name , AlbumId
from track 
where AlbumId in (
  select AlbumId 
  from album
  where title = "Californication")
limit 5;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Around The World', 195),
 ('Parallel Universe', 195),
 ('Scar Tissue', 195),
 ('Otherside', 195),
 ('Get On Top', 195)]

In [17]:
%%sql
select name , AlbumId
from track 
where AlbumId not in (
  select AlbumId 
  from album
  where title = "Californication")
limit 5;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('For Those About To Rock (We Salute You)', 1),
 ('Balls to the Wall', 2),
 ('Fast As a Shark', 3),
 ('Restless and Wild', 3),
 ('Princess of the Dawn', 3)]

In [12]:
#Obtener los nombres de todas las canciones del álbum "Californication".
%%sql
select * from album, track where album.albumid==track.albumid and album.title=="Californication";

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(195, 'Californication', 127, 2391, 'Around The World', 195, 1, 1, 'Anthony Kiedis/Chad Smith/Flea/John Frusciante', 238837, 7859167, 0.99),
 (195, 'Californication', 127, 2392, 'Parallel Universe', 195, 1, 1, 'Red Hot Chili Peppers', 270654, 8958519, 0.99),
 (195, 'Californication', 127, 2393, 'Scar Tissue', 195, 1, 1, 'Red Hot Chili Peppers', 217469, 7153744, 0.99),
 (195, 'Californication', 127, 2394, 'Otherside', 195, 1, 1, 'Red Hot Chili Peppers', 255973, 8357989, 0.99),
 (195, 'Californication', 127, 2395, 'Get On Top', 195, 1, 1, 'Red Hot Chili Peppers', 198164, 6587883, 0.99),
 (195, 'Californication', 127, 2396, 'Californication', 195, 1, 1, 'Red Hot Chili Peppers', 321671, 10568999, 0.99),
 (195, 'Californication', 127, 2397, 'Easily', 195, 1, 1, 'Red Hot Chili Peppers', 231418, 7504534, 0.99),
 (195, 'Californication', 127, 2398, 'Porcelain', 195, 1, 1, 'Anthony Kiedis/Chad Smith/Flea/John Frusciante', 163787, 5278793, 0.99),
 (195, 'Californication', 127, 2399, 'Emit Remmus', 195, 1, 1, 'Red Hot Chili Peppers', 240300, 7901717, 0.99),
 (195, 'Californication', 127, 2400, 'I Like Dirt', 195, 1, 1, 'Red Hot Chili Peppers', 157727, 5225917, 0.99),
 (195, 'Californication', 127, 2401, 'This Velvet Glove', 195, 1, 1, 'Red Hot Chili Peppers', 225280, 7480537, 0.99),
 (195, 'Californication', 127, 2402, 'Savior', 195, 1, 1, 'Anthony Kiedis/Chad Smith/Flea/John Frusciante', 292493, 9551885, 0.99),
 (195, 'Californication', 127, 2403, 'Purple Stain', 195, 1, 1, 'Red Hot Chili Peppers', 253440, 8359971, 0.99),
 (195, 'Californication', 127, 2404, 'Right On Time', 195, 1, 1, 'Red Hot Chili Peppers', 112613, 3722219, 0.99),
 (195, 'Californication', 127, 2405, "Road Trippin'", 195, 1, 1, 'Red Hot Chili Peppers', 205635, 6685831, 0.99)]

In [13]:
#Obtener los nombres de todas las canciones del álbum "Californication".
%%sql
select * from album, track where album.albumid==track.albumid and album.albumid==195;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(195, 'Californication', 127, 2391, 'Around The World', 195, 1, 1, 'Anthony Kiedis/Chad Smith/Flea/John Frusciante', 238837, 7859167, 0.99),
 (195, 'Californication', 127, 2392, 'Parallel Universe', 195, 1, 1, 'Red Hot Chili Peppers', 270654, 8958519, 0.99),
 (195, 'Californication', 127, 2393, 'Scar Tissue', 195, 1, 1, 'Red Hot Chili Peppers', 217469, 7153744, 0.99),
 (195, 'Californication', 127, 2394, 'Otherside', 195, 1, 1, 'Red Hot Chili Peppers', 255973, 8357989, 0.99),
 (195, 'Californication', 127, 2395, 'Get On Top', 195, 1, 1, 'Red Hot Chili Peppers', 198164, 6587883, 0.99),
 (195, 'Californication', 127, 2396, 'Californication', 195, 1, 1, 'Red Hot Chili Peppers', 321671, 10568999, 0.99),
 (195, 'Californication', 127, 2397, 'Easily', 195, 1, 1, 'Red Hot Chili Peppers', 231418, 7504534, 0.99),
 (195, 'Californication', 127, 2398, 'Porcelain', 195, 1, 1, 'Anthony Kiedis/Chad Smith/Flea/John Frusciante', 163787, 5278793, 0.99),
 (195, 'Californication', 127, 2399, 'Emit Remmus', 195, 1, 1, 'Red Hot Chili Peppers', 240300, 7901717, 0.99),
 (195, 'Californication', 127, 2400, 'I Like Dirt', 195, 1, 1, 'Red Hot Chili Peppers', 157727, 5225917, 0.99),
 (195, 'Californication', 127, 2401, 'This Velvet Glove', 195, 1, 1, 'Red Hot Chili Peppers', 225280, 7480537, 0.99),
 (195, 'Californication', 127, 2402, 'Savior', 195, 1, 1, 'Anthony Kiedis/Chad Smith/Flea/John Frusciante', 292493, 9551885, 0.99),
 (195, 'Californication', 127, 2403, 'Purple Stain', 195, 1, 1, 'Red Hot Chili Peppers', 253440, 8359971, 0.99),
 (195, 'Californication', 127, 2404, 'Right On Time', 195, 1, 1, 'Red Hot Chili Peppers', 112613, 3722219, 0.99),
 (195, 'Californication', 127, 2405, "Road Trippin'", 195, 1, 1, 'Red Hot Chili Peppers', 205635, 6685831, 0.99)]

In [20]:
#ordenar los nombres de todas las canciones del álbum "Californication" por duracion orden desendente
%%sql
select * from album as a, track as t 
where a.albumid==t.albumid and a.albumid==195
order by  t.milliseconds limit 5;

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(195, 'Californication', 127, 2404, 'Right On Time', 195, 1, 1, 'Red Hot Chili Peppers', 112613, 3722219, 0.99),
 (195, 'Californication', 127, 2400, 'I Like Dirt', 195, 1, 1, 'Red Hot Chili Peppers', 157727, 5225917, 0.99),
 (195, 'Californication', 127, 2398, 'Porcelain', 195, 1, 1, 'Anthony Kiedis/Chad Smith/Flea/John Frusciante', 163787, 5278793, 0.99),
 (195, 'Californication', 127, 2395, 'Get On Top', 195, 1, 1, 'Red Hot Chili Peppers', 198164, 6587883, 0.99),
 (195, 'Californication', 127, 2405, "Road Trippin'", 195, 1, 1, 'Red Hot Chili Peppers', 205635, 6685831, 0.99)]

In [11]:
#Obtener el nombre del album, el nombre de la cancion y el compositor del álbum "Californication".
%%sql
select Title, Name, Composer from Album,track where Album.albumid==track.albumid and Album.Title=="Californication";

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Californication', 'Around The World', 'Anthony Kiedis/Chad Smith/Flea/John Frusciante'),
 ('Californication', 'Parallel Universe', 'Red Hot Chili Peppers'),
 ('Californication', 'Scar Tissue', 'Red Hot Chili Peppers'),
 ('Californication', 'Otherside', 'Red Hot Chili Peppers'),
 ('Californication', 'Get On Top', 'Red Hot Chili Peppers'),
 ('Californication', 'Californication', 'Red Hot Chili Peppers'),
 ('Californication', 'Easily', 'Red Hot Chili Peppers'),
 ('Californication', 'Porcelain', 'Anthony Kiedis/Chad Smith/Flea/John Frusciante'),
 ('Californication', 'Emit Remmus', 'Red Hot Chili Peppers'),
 ('Californication', 'I Like Dirt', 'Red Hot Chili Peppers'),
 ('Californication', 'This Velvet Glove', 'Red Hot Chili Peppers'),
 ('Californication', 'Savior', 'Anthony Kiedis/Chad Smith/Flea/John Frusciante'),
 ('Californication', 'Purple Stain', 'Red Hot Chili Peppers'),
 ('Californication', 'Right On Time', 'Red Hot Chili Peppers'),
 ('Californication', "Road Trippin'", 'Red Hot Chili Peppers')]

In [5]:
#Obtener los nombres de todas las canciones del álbum "Californication".
# utilizando subconsultas
%%sql
select name , AlbumId
from track 
where AlbumId in (
  select AlbumId 
  from album
  where title = "Californication")

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Around The World', 195),
 ('Parallel Universe', 195),
 ('Scar Tissue', 195),
 ('Otherside', 195),
 ('Get On Top', 195),
 ('Californication', 195),
 ('Easily', 195),
 ('Porcelain', 195),
 ('Emit Remmus', 195),
 ('I Like Dirt', 195),
 ('This Velvet Glove', 195),
 ('Savior', 195),
 ('Purple Stain', 195),
 ('Right On Time', 195),
 ("Road Trippin'", 195)]

In [51]:
# Determinar el número total de facturas del cliente 59 junto con el nombre completo, la ciudad y el correo electrónico del cliente.
%%sql
select FirstName,
        LastName,
        City,
        Email, 
        customer.CustomerId,
        InvoiceDate,
        BillingAddress,
        Total,
        InvoiceId
from customer, invoice
where customer.CustomerId==59 and invoice.customerId=customer.customerId
order by Total

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 59, '2011-08-20 00:00:00', '3,Raj Bhavan Road', 1.98, 218),
 ('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 59, '2010-02-26 00:00:00', '3,Raj Bhavan Road', 1.99, 97),
 ('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 59, '2009-04-05 00:00:00', '3,Raj Bhavan Road', 3.96, 23),
 ('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 59, '2009-07-08 00:00:00', '3,Raj Bhavan Road', 5.94, 45),
 ('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 59, '2012-05-30 00:00:00', '3,Raj Bhavan Road', 8.91, 284),
 ('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 59, '2011-09-30 00:00:00', '3,Raj Bhavan Road', 13.86, 229)]

In [58]:
#obtener las canciones compradas en la invoice 229 del cliente 59 (sub consultas)
%%sql 
select * from track where trackid in (
select TrackId from InvoiceLine where invoiceId==229);

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(517, 'Um Indio', 23, 1, 7, None, 195944, 6453213, 0.99),
 (526, 'Fora Da Ordem', 23, 1, 7, None, 354011, 11746781, 0.99),
 (535, 'Chão De Estrelas', 42, 1, 4, 'Orestes Barbosa-Sílvio Caldas', 284813, 9433620, 0.99),
 (544, 'Stormbringer', 43, 1, 1, 'Coverdale', 277133, 9050022, 0.99),
 (553, 'Houses Of The Holy', 44, 1, 1, 'Jimmy Page/Robert Plant', 242494, 7972503, 0.99),
 (562, 'Mangueira', 45, 1, 7, "Bizuca/Clóvis Pê/Gilson Bernini/Marelo D'Aguia", 298318, 9999506, 0.99),
 (571, 'Love Of My Life', 46, 1, 1, 'Carlos Santana & Dave Matthews', 347820, 11634337, 0.99),
 (580, 'El Farol', 46, 1, 1, 'Carlos Santana & KC Porter', 291160, 9599353, 0.99),
 (589, 'Um Love', 47, 1, 7, None, 181603, 6095524, 0.99),
 (598, 'Jeru', 48, 1, 2, 'Miles Davis', 193410, 6222536, 0.99),
 (607, 'So What', 48, 1, 2, 'Miles Davis', 564009, 18360449, 0.99),
 (616, 'Black Satin', 49, 1, 2, 'Miles Davis', 316682, 10529483, 0.99),
 (625, 'Blue Rythm Fantasy', 51, 1, 2, None, 348212, 11204006, 0.99),
 (634, 'Bop Boogie', 51, 1, 2, None, 189596, 6093124, 0.99)]

In [59]:
# Determinar el número total de facturas de cada cliente junto con el nombre completo, la ciudad y el correo electrónico del cliente.
%%sql
select FirstName,
        LastName,
        City,
        Email, 
        customer.CustomerId,
        count(invoice.CustomerId) as Total_Invoices
from customer , invoice
where customer.CustomerId = invoice.CustomerId 
Group by customer.customerId
order by Total_Invoices DESC

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[('Luís', 'Gonçalves', 'São José dos Campos', 'luisg@embraer.com.br', 1, 7),
 ('Leonie', 'Köhler', 'Stuttgart', 'leonekohler@surfeu.de', 2, 7),
 ('François', 'Tremblay', 'Montréal', 'ftremblay@gmail.com', 3, 7),
 ('Bjørn', 'Hansen', 'Oslo', 'bjorn.hansen@yahoo.no', 4, 7),
 ('František', 'Wichterlová', 'Prague', 'frantisekw@jetbrains.com', 5, 7),
 ('Helena', 'Holý', 'Prague', 'hholy@gmail.com', 6, 7),
 ('Astrid', 'Gruber', 'Vienne', 'astrid.gruber@apple.at', 7, 7),
 ('Daan', 'Peeters', 'Brussels', 'daan_peeters@apple.be', 8, 7),
 ('Kara', 'Nielsen', 'Copenhagen', 'kara.nielsen@jubii.dk', 9, 7),
 ('Eduardo', 'Martins', 'São Paulo', 'eduardo@woodstock.com.br', 10, 7),
 ('Alexandre', 'Rocha', 'São Paulo', 'alero@uol.com.br', 11, 7),
 ('Roberto', 'Almeida', 'Rio de Janeiro', 'roberto.almeida@riotur.gov.br', 12, 7),
 ('Fernanda', 'Ramos', 'Brasília', 'fernadaramos4@uol.com.br', 13, 7),
 ('Mark', 'Philips', 'Edmonton', 'mphilips12@shaw.ca', 14, 7),
 ('Jennifer', 'Peterson', 'Vancouver', 'jenniferp@rogers.ca', 15, 7),
 ('Frank', 'Harris', 'Mountain View', 'fharris@google.com', 16, 7),
 ('Jack', 'Smith', 'Redmond', 'jacksmith@microsoft.com', 17, 7),
 ('Michelle', 'Brooks', 'New York', 'michelleb@aol.com', 18, 7),
 ('Tim', 'Goyer', 'Cupertino', 'tgoyer@apple.com', 19, 7),
 ('Dan', 'Miller', 'Mountain View', 'dmiller@comcast.com', 20, 7),
 ('Kathy', 'Chase', 'Reno', 'kachase@hotmail.com', 21, 7),
 ('Heather', 'Leacock', 'Orlando', 'hleacock@gmail.com', 22, 7),
 ('John', 'Gordon', 'Boston', 'johngordon22@yahoo.com', 23, 7),
 ('Frank', 'Ralston', 'Chicago', 'fralston@gmail.com', 24, 7),
 ('Victor', 'Stevens', 'Madison', 'vstevens@yahoo.com', 25, 7),
 ('Richard', 'Cunningham', 'Fort Worth', 'ricunningham@hotmail.com', 26, 7),
 ('Patrick', 'Gray', 'Tucson', 'patrick.gray@aol.com', 27, 7),
 ('Julia', 'Barnett', 'Salt Lake City', 'jubarnett@gmail.com', 28, 7),
 ('Robert', 'Brown', 'Toronto', 'robbrown@shaw.ca', 29, 7),
 ('Edward', 'Francis', 'Ottawa', 'edfrancis@yachoo.ca', 30, 7),
 ('Martha', 'Silk', 'Halifax', 'marthasilk@gmail.com', 31, 7),
 ('Aaron', 'Mitchell', 'Winnipeg', 'aaronmitchell@yahoo.ca', 32, 7),
 ('Ellie', 'Sullivan', 'Yellowknife', 'ellie.sullivan@shaw.ca', 33, 7),
 ('João', 'Fernandes', 'Lisbon', 'jfernandes@yahoo.pt', 34, 7),
 ('Madalena', 'Sampaio', 'Porto', 'masampaio@sapo.pt', 35, 7),
 ('Hannah', 'Schneider', 'Berlin', 'hannah.schneider@yahoo.de', 36, 7),
 ('Fynn', 'Zimmermann', 'Frankfurt', 'fzimmermann@yahoo.de', 37, 7),
 ('Niklas', 'Schröder', 'Berlin', 'nschroder@surfeu.de', 38, 7),
 ('Camille', 'Bernard', 'Paris', 'camille.bernard@yahoo.fr', 39, 7),
 ('Dominique', 'Lefebvre', 'Paris', 'dominiquelefebvre@gmail.com', 40, 7),
 ('Marc', 'Dubois', 'Lyon', 'marc.dubois@hotmail.com', 41, 7),
 ('Wyatt', 'Girard', 'Bordeaux', 'wyatt.girard@yahoo.fr', 42, 7),
 ('Isabelle', 'Mercier', 'Dijon', 'isabelle_mercier@apple.fr', 43, 7),
 ('Terhi', 'Hämäläinen', 'Helsinki', 'terhi.hamalainen@apple.fi', 44, 7),
 ('Ladislav', 'Kovács', 'Budapest', 'ladislav_kovacs@apple.hu', 45, 7),
 ('Hugh', "O'Reilly", 'Dublin', 'hughoreilly@apple.ie', 46, 7),
 ('Lucas', 'Mancini', 'Rome', 'lucas.mancini@yahoo.it', 47, 7),
 ('Johannes', 'Van der Berg', 'Amsterdam', 'johavanderberg@yahoo.nl', 48, 7),
 ('Stanisław', 'Wójcik', 'Warsaw', 'stanisław.wójcik@wp.pl', 49, 7),
 ('Enrique', 'Muñoz', 'Madrid', 'enrique_munoz@yahoo.es', 50, 7),
 ('Joakim', 'Johansson', 'Stockholm', 'joakim.johansson@yahoo.se', 51, 7),
 ('Emma', 'Jones', 'London', 'emma_jones@hotmail.com', 52, 7),
 ('Phil', 'Hughes', 'London', 'phil.hughes@gmail.com', 53, 7),
 ('Steve', 'Murray', 'Edinburgh ', 'steve.murray@yahoo.uk', 54, 7),
 ('Mark', 'Taylor', 'Sidney', 'mark.taylor@yahoo.au', 55, 7),
 ('Diego', 'Gutiérrez', 'Buenos Aires', 'diego.gutierrez@yahoo.ar', 56, 7),
 ('Luis', 'Rojas', 'Santiago', 'luisrojas@yahoo.cl', 57, 7),
 ('Manoj', 'Pareek', 'Delhi', 'manoj.pareek@rediff.com', 58, 7),
 ('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 59, 6)]

In [103]:
%%sql 
PRAGMA table_info([Track]);

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(0, 'TrackId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(200)', 1, None, 0),
 (2, 'AlbumId', 'INTEGER', 0, None, 0),
 (3, 'MediaTypeId', 'INTEGER', 1, None, 0),
 (4, 'GenreId', 'INTEGER', 0, None, 0),
 (5, 'Composer', 'NVARCHAR(220)', 0, None, 0),
 (6, 'Milliseconds', 'INTEGER', 1, None, 0),
 (7, 'Bytes', 'INTEGER', 0, None, 0),
 (8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)]