<a href="https://colab.research.google.com/github/adigenova/uohdb/blob/main/code/Tarea2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 2

## Integrantes

1. Nombre1 Apellido1
2. Nombre2 Apellido2
3. Nombre3 Apellido3

## Base de datos Chinook

In [ ]:
!pip install SQLAlchemy==1.4.46

In [ ]:
#download the Chinook database
!git clone https://github.com/lerocha/chinook-database.git

In [ ]:
# load the SQL magic extension
# https://github.com/catherinedevlin/ipython-sql
# this extension allows us to connect to DBs and issue SQL command
%load_ext sql
# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
# use %%sql to write SQL commands in a cell
%sql sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite

'Connected: @/content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'

### Obteniendo información de tablas

In [ ]:
%%sql 
PRAGMA table_info([Artist]);

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
   sqlite:///Chinook_Sqlite.sqlite
Done.

[(0, 'ArtistId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [ ]:
%%sql
PRAGMA table_info([Employee]);

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
   sqlite:///Chinook_Sqlite.sqlite
Done.

[(0, 'EmployeeId', 'INTEGER', 1, None, 1),
 (1, 'LastName', 'NVARCHAR(20)', 1, None, 0),
 (2, 'FirstName', 'NVARCHAR(20)', 1, None, 0),
 (3, 'Title', 'NVARCHAR(30)', 0, None, 0),
 (4, 'ReportsTo', 'INTEGER', 0, None, 0),
 (5, 'BirthDate', 'DATETIME', 0, None, 0),
 (6, 'HireDate', 'DATETIME', 0, None, 0),
 (7, 'Address', 'NVARCHAR(70)', 0, None, 0),
 (8, 'City', 'NVARCHAR(40)', 0, None, 0),
 (9, 'State', 'NVARCHAR(40)', 0, None, 0),
 (10, 'Country', 'NVARCHAR(40)', 0, None, 0),
 (11, 'PostalCode', 'NVARCHAR(10)', 0, None, 0),
 (12, 'Phone', 'NVARCHAR(24)', 0, None, 0),
 (13, 'Fax', 'NVARCHAR(24)', 0, None, 0),
 (14, 'Email', 'NVARCHAR(60)', 0, None, 0)]



### Modelo relacional de Chinook [schemaspy](https://schemaspy.org/)

<img src="https://schemaspy.org/sample/diagrams/summary/relationships.real.large.png" alt="ER Diagram" width="836" height="605" />



# Soluciones consultas SQL

Para cada consulta seleccionada, indique el numero de la consulta, el enunciado y el codigo SQL que resuelve la consulta. A modo de ejemplo utilice el siguiente formato.

X) Escriba una consulta que muestre solo los Clientes de Brasil.

In [ ]:
%%sql 
select * from Customer WHERE Country = "Brazil";

 * sqlite:////content/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4),
 (11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', '+55 (11) 3055-3278', '+55 (11) 3055-8131', 'alero@uol.com.br', 5),
 (12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', '+55 (21) 2271-7000', '+55 (21) 2271-7070', 'roberto.almeida@riotur.gov.br', 3),
 (13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br', 4)]

1) ...

In [ ]:
%%sql
select ...

2) ...

In [ ]:
%%sql
select ...

3) ...

In [ ]:
%%sql
select ...

4) ...

In [ ]:
%%sql
select ...

5) ...

In [ ]:
%%sql
select

6) ...

In [ ]:
%%sql
select ...

7) ...

In [ ]:
%%sql
select ...

8) ...

In [ ]:
%%sql
select ...

9) ...

In [ ]:
%%sql
select ...

10) ...

In [ ]:
%%sql
select ...

11) ...

In [ ]:
%%sql
select ...

12) ...

In [ ]:
%%sql
select ...

13) ...

In [ ]:
%%sql
select ...

14) ...

In [ ]:
%%sql
select ...

15) ...

In [ ]:
%%sql
select ...

16) ...

In [ ]:
%%sql
select ...

17) ...

In [ ]:
%%sql
select ...

18) ...

In [ ]:
%%sql
select ...

19) ...

In [ ]:
%%sql
select ...

20) ...

In [ ]:
%%sql
select ...

21) ...

In [ ]:
%%sql
select ...

22) ...

In [ ]:
%%sql
select ...

23) ...

In [ ]:
%%sql
select ...

24) ...

In [ ]:
%%sql
select ...

25) ...

In [ ]:
%%sql
select ...

26) ...

In [ ]:
%%sql
select ...

27) ...

In [ ]:
%%sql
select ...

28) ...

In [ ]:
%%sql
select ...

29) ...

In [ ]:
%%sql
select ...

30) ...

In [ ]:
%%sql
select ...